@mixin breakpoint($breakpoint) {
  @media (max-width: $breakpoint) {
    @content
  }
}

 
@mixin MaterialIconBefore ($content, $padding-right: 8px) {
  content: $content;
  padding-right: $padding-right;
  font-family: 'Material Icons Outlined';
  font-weight: normal;
  font-style: normal;
  // font-size: ;  /* Preferred icon size */
  display: inline-block;
  // line-height: inherit;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';  
}

@mixin positionCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  // 以下兩行不懂，看到有同學用先試著放進來看看
  margin: 0;
  transform: translate(-50%,-50%);
}

@mixin radiusRound {
  border-radius: 4px;
}

@mixin stretchedLink {
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: "";
  }
}

