$lg: 992px;
$md: 768px;
$footer-nav: 720px;
$nav-col: 640px;
$sm: 576px;

$displays: (
  "none": none,
  "block": block,
  "flex": flex,
  "inline-block": inline-block,
  "inline": inline,
);

$gutters: (
  lg: 30px,  // col 的間距（padding*2）
  md: 30px,  
  sm: 15px,
);

$primary: #AA0601;
$secondary: #111619;
$primary-light: #FBF2F2;
$primary-dark: #650300;
$white: #fff;
$black: #000;

$colors: (
  primary: #AA0601,
  secondary: #111619,
  primary-light: #FBF2F2,
  primary-dark: #650300,
  white: #fff,
  black: #000,
);

$grays: (
  1: #F2F2F2,
  2: #DCDCDC,
  3: #DEE2E6,
  4: #CED4DA,
  5: #555555,
  6: #00000020,
);

$spacer: 4px;
$spacers: (
  0: 0,
  1: $spacer,   // 4
  2: $spacer * 2,   // 8
  3: $spacer * 3,   // 12
  4: $spacer * 4,   // 16
  5: $spacer * 5,   // 20
  6: $spacer * 6,   // 24
  7: $spacer * 7,   // 28
  8: $spacer * 8,   // 32
  9: $spacer * 9,   // 36
  10: $spacer * 10,   // 40
  11: $spacer * 11,   // 44
  12: $spacer * 12,   // 48
  13: $spacer * 13,   // 52
  14: $spacer * 14,   // 56
  15: $spacer * 15,   // 60
  18: $spacer * 18,   // 72
  20: $spacer * 20,   // 80 
  24: $spacer * 24,   // 96
  26: $spacer * 26,   // 104
  
  40: $spacer * 40,   // 160
  small: $spacer * 3.75,
);

$line-height-base: 1.5;
$font-size-small: 14px;
$font-size-base: 16px;
$font-sizes: (
  4: 1rem,    // 16
  5: 1.25rem, // 20
  6: 1.5rem,  // 24
  7: 1.75rem, // 28
  8: 2rem,    // 32
  9: 2.25rem, // 36
  // 10: 2.5rem,  
  // 11: 2.75rem, 
  12: 3rem,   // 48
  // 13: 3.25rem,
  // 14: 3.5rem,
  // 15: 3.75rem,
  16: 4rem,    // 64
  // 17: 4.25rem,
  18: 4.5rem,  // 72
  small: 0.875rem,
  product-title: 2.625rem, // 42
);


$font-weights: (
  "normal": 400,
  "medium": 500,
  "bold": 700,
  "black": 900,
);

$column-amount: 12;
$column-amount-sm: 4;
$columns: (
  1: 1 * 100% /$column-amount,
  2: 2 * 100% /$column-amount,
  3: 3 * 100% /$column-amount,
  4: 4 * 100% /$column-amount,
  5: 5 * 100% /$column-amount,
  6: 6 * 100% /$column-amount,
  7: 7 * 100% /$column-amount,
  8: 8 * 100% /$column-amount,
  9: 9 * 100% /$column-amount,
  10: 10 * 100% /$column-amount,
  11: 11 * 100% /$column-amount,
  12: 12 * 100% /$column-amount,
);
$columns-sm: (
  1: 1 * 100% /$column-amount-sm,
  2: 2 * 100% /$column-amount-sm,
  3: 3 * 100% /$column-amount-sm,
  4: 4 * 100% /$column-amount-sm,

);