.bg {
  &-primary {
    background-color: $primary;
    color: #fff;

  }
  &-primary-light {
    background-color: $primary-light;

  }
}

@each $key, $value in $colors {
  .bg-#{$key} {
    background-color: $value;
  }

}