<nav class="container">
  <ul class="d-flex justify-content-center productNav fs-8 fs-md-6 fs-sm-small weight-medium">
    <li class="flex-1">
      <a class="productNav-link d-flex align-items-center justify-content-center px-2" href="productOptical.html">
        <span class="material-icons-outlined me-2  fs-12 fs-md-8 fs-sm-4">
          auto_awesome
          </span>
        OPTICAL
      </a>
    </li>
    <li class="flex-1">
      <a class="productNav-link d-flex align-items-center justify-content-center px-2" href="productSunglasses.html">
        <span class="material-icons-outlined  me-2  fs-12 fs-md-8 fs-sm-4 ">
          light_mode
          </span>
        SUNGLASSES
      </a>
    </li>
    <li class="flex-1">
      <a class="productNav-link productNav-link-last d-flex align-items-center justify-content-center px-2" href="productfunctional.html">
        <span class="material-icons-outlined  me-2 fs-12 fs-md-8 fs-sm-4">
          flash_on
          </span>
        FUNCTIONAL
      </a>
    </li>
  </ul>

</nav>