.border-end {
  border-right: 1px solid;
}
.border-bottom {
  border-bottom: 1px solid;
}
.border-x {
  border-left: 1px solid;
  border-right: 1px solid;
}

.border-color-gray {
  border-color: #00000020;
}

.radius-none {
  border-radius: 0px;
}