@each $key, $value in $displays {
  .d-#{$key} {
    display: $value;
  }
}

@media (max-width: $md) {
  @each $key, $value in $displays {
    .d-md-#{$key} {
      display: $value;
    }
  }
}

@media (max-width: $sm) {
  @each $key, $value in $displays {
    .d-sm-#{$key} {
      display: $value;
    }
  }
}

.d-nav-none {
  @include breakpoint($nav-col) {
    display: none;
  }
}
.d-nav-flex {
  @include breakpoint($nav-col) {
    display: flex;
  }
}