
.justify-content {
  &-between {
    justify-content: space-between;
  }
  &-end {
    justify-content: flex-end;
  }
  &-center {
    justify-content: center;
  }
}

.align-items {
  &-center {
    align-items: center;
  }
  &-start {
    align-items: flex-start;
  }
  &-stretch {
    align-items: stretch;
  }
}

.flex-wrap {
  flex-wrap: wrap;
}
.flex-1 {
  flex: 1;
}

.order-1 {
  order: 1;
}
.direction-row-reverse {
  flex-direction: row-reverse;
}
@media (max-width: $md) {
  .direction-md-row {
    flex-direction: row;
  }
  .justify-content-md-start {
    justify-content: flex-start;
  }
}
// sm
@media (max-width: $sm) {
  .flex-sm-column {
    flex-direction: column;
  }
  .align-items-sm-start {
    align-items: start;
  }
}