.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

@each $key, $value in $spacers {
  .p-#{$key} {
    padding: $value;
  }
  .mb-#{$key} {
    margin-bottom: $value;
  }
  .mb-n#{$key} {
    margin-bottom: -$value;
  }
  .me-#{$key} {
    margin-right: $value;
  }
  .ms-#{$key} {
    margin-left: $value;
  }
  .pb-#{$key} {
    padding-bottom: $value;
  }
  .px-#{$key} {
    padding-left: $value;
    padding-right: $value;
  }
  .py-#{$key} {
    padding-top: $value;
    padding-bottom: $value;
  }
  .pt-#{$key} {
    padding-top: $value;
  }
  .ps-#{$key} {
    padding-left: $value;
  }
  .px-#{$key} {
    padding-left: $value;
    padding-right: $value;
  }
  
}

@media (max-width: $md) {
  @each $key, $value in $spacers {
    .mb-md-#{$key} {
      margin-bottom: $value;
    }
    .pb-md-#{$key} {
      padding-bottom: $value;
    }
    .pt-md-#{$key} {
      padding-top: $value;
    }
    .mb-md-n#{$key} {
      margin-bottom: -$value;
    }
    .py-md-#{$key} {
      padding-top: $value;
      padding-bottom: $value;
    }
  }

}

@media (max-width: $sm) {
  @each $key, $value in $spacers {
    .mb-sm-#{$key} {
      margin-bottom: $value;
    }
    .pb-sm-#{$key} {
      padding-bottom: $value;
    }
    .pt-sm-#{$key} {
      padding-top: $value;
    }
    .ms-sm-#{$key} {
      margin-left: $value;
    }
    .me-sm-#{$key} {
      margin-right: $value;
    }
    .mb-sm-n#{$key} {
      margin-bottom: -$value;
    }
  }
}

.radius {
  &-round {
    @include radiusRound;
  }
  &-top {
    border-radius: 4px 4px 0 0;
  }
  &-bottom {
    border-radius: 0 0 4px 4px;
  }
}

.before-pe-2 {
  &::before {
    padding-right: $spacer * 2;
  }
}