<div class="container pb-40 pb-md-24 pb-sm-14 pt-24 pt-md-15 pt-sm-7">
  <h1 class="brand-info-title fs-12 fs-sm-7 weight-bold mb-15 mb-md-10 md-sm-6">
    <%- title %>
  </h1>
  <%- contents %>
</div>