<div class="container-fluid">
  <ul class="d-flex banner-product">
    <li class="banner-product">
    </li>
    <li class="banner-product-optical-2">
    </li>
  </ul>


  <div class="container pb-40 pb-md-24 pb-sm-14 pt-20 pt-md-14 pt-sm-8">
    <h1 class="weight-medium text-center fs-product-title fs-md-8 fs-sm-5">
      <%- productSeries %>
    </h1>
    <h2 class="mb-10 mb-md-8 mb-sm-5 fs-8 fs-md-6 fs-sm-4 lh-sm-product-subtitle text-center">
      <%- productSeriesChinese %>
    </h2>
    <%- contents %>
  </div>