.navbar {
  padding: 0 $spacer * 14;
  @include breakpoint($md) {
    padding: 0 $spacer * 5 ;
  }
  @include breakpoint($nav-col) {
    padding: 0;
  }
  // logo and list
  @include breakpoint($nav-col) {
    flex-direction: column;
  }
  &-title {
    align-self: stretch;
  }
  &__brand-link {
    display: block;
    padding: 30px 32px;
    @include breakpoint($lg) {
      padding: 30px 20px;
    }
    @include breakpoint($nav-col) {
      padding: 10px 20px;      
    }
  }

}

// 選單部分
.nav {
  max-width: 556px;
  @include breakpoint($lg) {
    max-width: 460px;
  }
  @include breakpoint($nav-col) {
    flex-wrap: wrap;
    width: 100%;      // 回歸滿版
    max-width: 100%;  // 但因為上面斷點有設定max-width，要清掉
    border-top: 1px solid;
    border-left: 1px solid;
  }
  &-item {
    // position: relative;
    @include breakpoint($nav-col) {
      width: 50%;     // 滿版
    }
  }
  &-link {
    display: block;
    padding: $spacer * 8;
    font-size: 1.25rem;
    &:hover {
      background-color: $white;
      color: #000;
      border-color: $white;
    }
    @include breakpoint($lg) {
      padding: $spacer * 8 $spacer * 5;
    }
    @include breakpoint($nav-col) {
      border-right: 1px solid;
      border-bottom: 1px solid;
      padding: $spacer * 2;
    }

  }
}
