.banner {
  background: fixed url(https://hexschool.github.io/webLayoutTraining1st/week3/banner.png)  center center / cover  no-repeat;
  height: 840px;
  @include breakpoint($sm) {
    height: 394px;
    background-image: url(https://hexschool.github.io/webLayoutTraining1st/week3/banner-sm.png);
  }
}



.index-section {
  padding-top: $spacer * 15;
  padding-bottom: $spacer * 20;
  &__title {
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: $spacer * 10;
    @include breakpoint($md) {    
      font-size: 2rem;
      margin-bottom: $spacer * 8;
    }
    @include breakpoint($sm) {
      font-size: 1.5rem;
      line-height: 2;
      margin-bottom: $spacer * 5;
    }
    &-sub {
      @include breakpoint($sm) {
        font-size: 1.25rem;
        line-height: 2.4;
      }
    }
  }
}







.icon-optical {
  &::before {
    @include MaterialIconBefore ("auto_awesome", $padding-right: 8px);
  }
}
.icon-sunglasses {
  &::before {
    @include MaterialIconBefore ("light_mode", $padding-right: 8px);
  }
}

.icon-functional {
  &::before {
    @include MaterialIconBefore ("flash_on", $padding-right: 8px);
  }

}

.collaboration {
  background: fixed url(https://hexschool.github.io/webLayoutTraining1st/week3/bg.png)  center / cover no-repeat;
  
}



.link-white-off {
  position: relative;
  &::after {
    background-color: $white ;
    background-clip: content-box;
    opacity: 0.2;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: "";
    transition: all 0.5s;

  }
  &:hover::after {
    opacity:0;
  }
}

.feedback-card {
  border: 1px solid #DEE2E6;
  box-shadow: 0px 2px 6px #00000029;
  &__image {
    object-fit: cover;
    height: 256px;
    // 沒有加width這行圖會怪怪的（firefox
    width: 100%;
  }
  &__info {
    &-comment {
      height: $font-size-base * $line-height-base * 3;
    }
    &-time {
      color: #707070;
    }
  }
}

.contact-us {
  &__label {

    margin-bottom: $spacer;
    &-agreement {
      margin-bottom: $spacer * 10;
      @include breakpoint($md) {
        margin-bottom: $spacer * 5;
      }
    }
  }
  &__input {
    display: block;
    width: 100%;

    margin-bottom: $spacer * 2;
    @include breakpoint($md) {
      margin-bottom: $spacer * 2;
    }
    &-comment {
      padding-bottom: $spacer * 17;
    }
  }

  &__button {
    display: block;
  }
}