.btn-primary {
  border: 0px;
  padding: 16px;
  @include breakpoint($md) {
    padding: 10px;
  }
  @include breakpoint($sm) {
    padding: 8px;
  }
  &:hover {
    background: $secondary;
  }
  &:active {
    background: $primary-dark;
  }
}
.btn-black {
  border: 0px;
  padding: 16px;
  background: $black;
  color: $white;
  @include breakpoint($md) {
    padding: 10px;
  }
  @include breakpoint($sm) {
    padding: 8px;
  }
  &:hover {
    background: $primary;
  }
  &:active {
    background: $primary-dark;
  }
}

.icon-tel {
  &::before {
    @include MaterialIconBefore("call", $spacer * 4);
    @include breakpoint($md) {
      padding-right: $spacer * 2;
    }
    @include breakpoint($sm) {
      padding-right: 5px;
    }
  }
}
.icon-mail {
  &::before {
    @include MaterialIconBefore("email", $spacer * 4);
    @include breakpoint($md) {
      padding-right: $spacer * 2;
    }
    @include breakpoint($sm) {
      padding-right: 5px;
    }
  }
}

.icon-time-info {
  &::before {
    @include MaterialIconBefore("schedule", $spacer * 2);
  }
}
.icon-locate-info {
  &::before {
    @include MaterialIconBefore("place", $spacer * 2);
  }
}


.productNav {
  line-height: 50px;
  @include breakpoint($sm) {
    line-height: 14px;
  }
  &-link {
    padding-top: 26px; 
    padding-bottom: 18px; 
    @include breakpoint($md) {
      padding-top: 14px;
      padding-bottom: 6px;
    }
    @include breakpoint($sm) {
      padding-top: 6px;
      padding-bottom: 2px;

    }
    border-left: 1px solid #DCDCDC;
    border-bottom: 8px solid #fff;
    &:hover {
      border-bottom: 8px solid $primary;
      @include breakpoint($sm) {
        border-bottom: 4px solid $primary;
      }
    }
  }
  &-link-last {
    border-right: 1px solid #DCDCDC;
  }

}

.pagination {
  max-width: 372px;
  border-color: #555555;
  color: #555555;
  &-item {
    flex-basis: 42px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-left: 1px solid;
  }
  &-previous {
    flex-basis: 81px;
  }
  &-next {
    flex-basis: 81px;
    background-color: #F2F2F2;
  }
  a {
    padding-top: 12px;
    padding-bottom: 12px;
    display: block;
    font-size: 19px;
    line-height: 29px;
    &:hover {
      background-color: #000;
      color: $white;
    }
  }

}

.select-locate {
  border: 1px solid #CED4DA;
  // width: 100%;
  font-size: 18px;
  line-height: 26px;
  @include breakpoint($md) {
    font-size: 16px;
    line-height: 24px;
  }
  @include breakpoint($sm) {
    font-size: 14px;
  }
}


.index-feature {
  &__image {
    font-size: 100px;
  }
  p {
    max-width: 255px;
    margin: 0 auto;
  }
}

.index-classic__title {
  font-style: italic;
  line-height: 72px;
  @include breakpoint($sm) {
    @include positionCenter;
  }
}

