.container {
  margin: 0 auto;
  max-width: 1110px + map-get($gutters,lg);
  padding-left: map-get($gutters,lg)/2;
  padding-right: map-get($gutters,lg)/2;
  @include breakpoint($md) {
    max-width: 690px + map-get($gutters,md);
    // padding-left: map-get($gutters,md)/2;
    // padding-right: map-get($gutters,md)/2;
  }
  @include breakpoint($sm) {
    max-width: 345px + map-get($gutters,sm);
    // padding-left: map-get($gutters,sm)/2;
    // padding-right: map-get($gutters,sm)/2;
  }
}


.container-fluid {
  max-width: 100%;
}

@each $key, $value in $columns {
  .col-#{$key} {
    width: $value;
    flex: 0 0 auto;
    padding-left: map-get($gutters,lg)/2;
    padding-right: map-get($gutters,lg)/2;
    @media (max-width: $md) {
      padding-left: map-get($gutters,md)/2;
      padding-right: map-get($gutters,md)/2;
    }
    @media (max-width: $sm) {
      padding-left: map-get($gutters,sm)/2;
      padding-right: map-get($gutters,sm)/2;
    }
  }
  .offset-#{$key} {
    margin-left: $value;
  }
}
@media (max-width: $md) {
  @each $key, $value in $columns {
    .col-md-#{$key} {
      width: $value;
    }
    .offset-md-#{$key} {
      margin-left: $value;
    }
  }

}

@media (max-width: $sm) {
  @each $key, $value in $columns-sm {
    .col-sm-#{$key} {
      width: $value;
    }
    .offset-sm-#{$key} {
      margin-left: $value;
    }
  }

}


.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -(map-get($gutters,lg)/2);
  margin-left: -(map-get($gutters,lg)/2);
  @include breakpoint($md) {
    margin-right: -(map-get($gutters,md)/2);
    margin-left: -(map-get($gutters,md)/2);
  }
  @include breakpoint($sm) {
    margin-right: -(map-get($gutters,sm)/2);
    margin-left: -(map-get($gutters,sm)/2);
  }
}

.col {
  flex:1;
  // background-color:green;
  padding-left: map-get($gutters,lg)/2;
  padding-right: map-get($gutters,lg)/2;
  @include breakpoint($md) {
    padding-left: map-get($gutters,md)/2;
    padding-right: map-get($gutters,md)/2;
  }
  @include breakpoint($sm) {
    padding-left: map-get($gutters,sm)/2;
    padding-right: map-get($gutters,sm)/2;
  }

}


.offset-sm-none {
  @include breakpoint($sm) {
    margin-left: 0;
  }
}

